.password__wrapper {
	background: var(--secondary-bg-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	padding: 15px 25px;
	box-sizing: border-box;
	margin-top: 20px;
	border-radius: 5px;

	.password {
		font-size: 20px;
		font-weight: bold;

		&.placeholder-color {
			color: #848387;
		}
	}
}
