.strength {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 15px 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	background: #18171f;

	.strength__title {
		display: none;
	}

	.strength__indicator {
		display: flex;
		align-items: center;
		gap: 15px;

		.strength__indicator__grade {
			font-weight: bold;
		}
	}
}

@media only screen and (min-width: 350px) {
	.strength {
		justify-content: space-between;
		.strength__title {
			display: inline-flex;
			color: #7b7786;
			font-weight: bold;
		}
	}
}
