.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100vh;
	padding: 0 30px;

	.app__title {
		color: #817d92;
	}

	.app__layout {
		width: 100%;
		max-width: 500px;
	}
}
